.profile-s-bg-color {
    background-color: rgba(236, 38, 143, 0.4);
    color: black;
    border: 0.782313px solid rgba(236, 38, 143, 0.4);
    border-radius: 637.585px;
}
.profile-s-bg-color:hover {
    background-color: rgba(236, 38, 143, 0.4);
    color: black;
    border: 0.782313px solid rgba(236, 38, 143, 0.4);
}
.profile-trash-icon {
    background-color: rgba(236, 38, 143, 0.4);
    border-radius: 50%;
    padding: 10px;
    width: 15px;
    height: 15px;
}
.profile-alert-icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
}
.profile-btn-color {
    background: rgba(236, 38, 143, 1);
    color: #fff;
}
.profile-btn-color:hover {
    color: #ffffff;
    background-color: rgba(236, 38, 143, 1);
    border-color: rgba(236, 38, 143, 1);
}

.profile-f-l-color {
    color: rgba(57, 53, 53, 0.34);
}

.profile-form-border {
    border: 0.798412px solid #000000;
    border-radius: 11.9762px;
}

.profile-form-group-star-name {
    position: relative;
}

.profile-form-group-star-name::after {
    content: "*";
    position: absolute;
    top: 14px;
    left: 50px;
    color: rgba(241, 0, 0, 0.7);
}

.profile-form-group-star-pin-code {
    position: relative;
}

.profile-form-group-star-pin-code::after {
    content: "*";
    position: absolute;
    top: 14px;
    left: 72px;
    color: rgba(241, 0, 0, 0.7);
}

.profile-form-input-custome {
    display: block;
    width: 100%;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.profile-form-input-custome::placeholder {
    text-align: left;
    color: rgba(57, 53, 53, 0.34);
}

.profile-form-input-custome:focus {
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.checkbox-custome-p {
}

.profile-breadcrumb {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

.profile-breadcrumb .container {
    z-index: 9;
    position: relative;
}

.profile-breadcrumb .bg-stipe {
    background: #ec268f99;
    position: absolute;
    width: 100%;
    height: 70%;
    top: 30%;
    left: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}

.profile-photo-section {
    max-width: 250px;
    position: relative;
    margin: auto;
}

.profile-photo {
    border: 5px solid #ec268f;
    border-radius: 30em;
}

.edit-photo-btn {
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    border-radius: 5em;
    background: #d9d9d9;
}

.edit-photo-btn:hover {
    background: #fff;
}

.profile {
    margin-bottom: 1em;
}

.user-name-section {
    max-width: 45ch;
    margin: auto;
}

.name-input {
    background: none;
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}

.profile-menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    background: #ffffff;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.profile-menu a.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: none;
}

.menu-icon {
    width: 5em;
    height: 5em;
    border-radius: 10em;
    padding: 1.2em;
    margin-bottom: 0.2em;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.52);
    transition: box-shadow 1s;
}

.profile-menu a.btn:hover .menu-icon {
    box-shadow: -2px -8px 16px 0px rgba(0, 0, 0, 0.52);
}
